body {
    color: rgb(92, 99, 99);
}

nav {
    background-color: blue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#menu {
    display: block;
    width: 40%;
    margin: 0px auto;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu a:hover {
    color: rgb(82, 66, 66);
}

#menu li {
    display: inline-block;
    text-decoration: none;
    margin: 10px 20px;
}

.container {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 3em 4.9em 2em;
    grid-auto-rows: 5em;
    grid-gap: 10px 5px;
}

div {
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    color: white;
    text-align: center;
}

.container div:nth-child(1), div:nth-child(6){
    background-color: blue;
}

.container div:nth-child(2), div:nth-child(7) {
    background-color: yellow;
}

.container div:nth-child(3), div:nth-child(8) {
    background-color: salmon;
}

.container div:nth-child(4) {
    background-color: blueviolet;
}

.container div:nth-child(5) {
    background-color: green;
}

.container div:nth-child(9), div:nth-child(11) {
    background-color: rgb(148, 11, 11);
}

.container div:nth-child(10), :nth-child(12) {
    background-color: black;
}

.container div:nth-child(13), div:nth-child(15) {
    background-color: yellow;
}

.container div:nth-child(14) {
    background-color: aquamarine;
}