body {
    background-color: rgb(210, 223, 223);
}

.container {
    margin-top: 20px;
    border: 2px solid #000;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 100px;
    height: 50px;
}

.container div:nth-child(1) {
    background-color: blue;
}

.container div:nth-child(2) {
    background-color: green;
}

.container div:nth-child(3) {
    background-color: yellow;
}

.container div:nth-child(4) {
    background-color: rgb(57, 236, 13);
}

.container div:nth-child(5) {
    background-color: cyan;
}

.container div:nth-child(6) {
    background-color: pink;
}