body {
    background-color: rgb(210, 223, 223);
}

.container {
    margin-top: 20px;
    border: 2px solid #000;
    display: flex;
    flex-flow: row nowrap;
}

.item {
    flex-basis: 100px;
    font-size: 3em;
    text-align: center;
    height: 50px;
}
    
.container div:nth-child(1) {
    background-color: blue;
    order: 6000;
}

.container div:nth-child(2) {
    background-color: green;
    order: 2;
}

.container div:nth-child(3) {
    background-color: yellow;
    order: 4;
}

.container div:nth-child(4) {
    background-color: rgb(57, 236, 13);
    order: 5;
}

.container div:nth-child(5) {
    background-color: cyan;
    order: -1;
}

.container div:nth-child(6) {
    background-color: pink;
    order: 3;
}

